<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    {% include 'template/head.html' %}
  </head> 
  <body>
    {% include 'template/topmenu.html' %}
    <!-- END header -->

    <section class="site-hero overlay" data-stellar-background-ratio="0.5" 
    style="background-image: url({% static 'my/2.jpg' %});">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <h1>DAV Institute of Engineering and Technology</h1>
              
              <p><a href="/about/" class="btn btn-primary">More Details</a></p>
            </div>

            
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="school-features d-flex" style="background-image: url({% static 'images/big_image_6.jpeg' %});">

      <div class="inner">
        <div class="media d-block feature">
          <div class="icon"><span class="flaticon-video-call"></span></div>
          <div class="media-body">
            <h3 class="mt-0">JOIN DAVIET</h3>
            <p style="text-align: justify;">DAV Institute of Engineering & Technology Jalandhar got established in year 2001 under the aegis of DAV college Managing committee. The institute is approved by AICTE and affiliated to Punjab Technical University,Jalandhar. This is the first degree level Engineering Institute started by the DAV College Trust and Management Society.The DAV College Trust and Management Society is the largest non-government educational organization in India managing a chain of 700 institutions in India and abroad..</p>
          </div>
        </div>

        <div class="media d-block feature">
          <div class="icon"><span class="flaticon-student"></span></div>
          <div class="media-body">
            <h3 class="mt-0">DIRECTOR GENERAL'S MESSAGE</h3>
            <p style="text-align: justify;">DAV Institute of Engineering & Technology Jalandhar got established in year 2001 under the aegis of DAV college Managing committee. The institute is approved by AICTE and affiliated to Punjab Technical University,Jalandhar. This is the first degree level Engineering Institute started by the DAV College Trust and Management Society.The DAV College Trust and Management Society is the largest non-government educational organization in India managing a chain of 700 institutions in India and abroad. .</p>
          </div>
        </div>

        <div class="media d-block feature">
          <div class="icon"><span class="flaticon-video-player-1"></span></div>
          <div class="media-body">
            <h3 class="mt-0">GENESIS</h3>
            <p style="text-align: justify;">DAV Institute of Engineering & Technology Jalandhar got established in year 2001 under the aegis of DAV college Managing committee. The institute is approved by AICTE and affiliated to Punjab Technical University,Jalandhar. This is the first degree level Engineering Institute started by the DAV College Trust and Management Society.The DAV College Trust and Management Society is the largest non-government educational organization in India managing a chain of 700 institutions in India and abroad.</p>
          </div>
        </div>


        <div class="media d-block feature">
          <div class="icon"><span class="flaticon-audiobook"></span></div>
          <div class="media-body">
            <h3 class="mt-0">Saftey</h3>
            <p>fire extinguishers, exhaust fan, underground water storage tank, water storage tank for portable water, water cooler and aqua guard, wide stairs and galleries with railing to preach physical hazards, first aid facility.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->


    <!-- END section -->


    <!-- END section -->


    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2>Top Courses</h2>
            
          </div>
        </div>
        <div class="row top-course">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'images/webdesign.jpg' %}" alt="Image placeholder">
              <h2>Web Design 101</h2>
              <p>Enroll Now</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'images/wordpress.jpg' %}" alt="Image placeholder">
              <h2>Learn How To Develop WordPress Plugin</h2>
              <p>Enroll Now</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'images/javascript.jpg' %}" alt="Image placeholder">
              <h2>JavaScript 101</h2>
              <p>Enroll Now</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'images/photoshop.jpg' %}" alt="Image placeholder">
              <h2>Photoshop Design 101</h2>
              <p>Enroll Now</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'images/reactjs.jpg' %}" alt="Image placeholder">
              <h2>Learn Native ReactJS</h2>
              <p>Enroll Now</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="{% static 'images/angularjs.jpg' %}" alt="Image placeholder">
              <h2>Learn AngularJS 2</h2>
              <p>Enroll Now</p>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <!-- END section -->
  
   {% include 'template/footer.html' %}